@use 'mixin.scss';
@use 'var.scss';
@use 'media.scss';
*{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding:0;
}

.wrapper{
    width: var.$container-width;
    margin: auto;
    background-color: var.$background-dark;
    @include mixin.flex(unset,center);
    flex-direction: column;    
}

.a1{
    @include mixin.flex(center,center);
    background: var.$green;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    color: #000000;
    padding: 120.5px 662px;
    width: 1440px;
    height: 323px;
}

.header{
    margin: 32px 0 16px;
    background: var.$black;
    border-radius: 10px;
    @include mixin.width(1440,1408);
    @include mixin.flex(unset,center);
    padding: 12px 24px;
    .search{
        margin: 0 37px 0 271px;
        background-color: var.$dark-grey;
        background-image: url(../img/Vectorlupa.png);
        background-repeat: no-repeat;
        background-position: 95% center;
        @include mixin.width(1408,580);
        padding: 15px 56px 14px 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;            
        font-feature-settings: 'liga' off;
        color: var.$body;
        border-radius: 10px;
        &:focus{
            outline: none;
        }
    }
    .drops{
        @include mixin.flex(center,center);
        gap:64px;
        .drop-down{
            @include mixin.flex(center,center);
            gap: 12px;
            p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: var.$white;
            }
        }
    }
}


.main{
    @include mixin.flex(unset,center);
    flex-direction: column;
    width: 100%;
    .steppe-tags{
        @include mixin.width(1440,1392);
        @include mixin.flex(unset,unset);
        gap:16px;
        .tag{
            @include mixin.width(1392,160);
            background-color: var.$black;
            border: 2px solid var.$white;
            border-radius: 8px;
            transition: all 0.3s ease-in-out;
            padding: 12px 0;
            gap: 8px;
            p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                color: var.$white;
                text-align: center;
            }
            &:hover{
                background-color: var.$white;
                p{
                    color: var.$black;
                }
            }
        }
    }
}