$container-width: 1440px;

//colors
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$dark-grey: rgba(48, 44, 44, 1);
$body: rgba(119, 119, 119, 1);
$grey-tags: rgba(128, 128, 128, 1);
$grey: rgba(190, 190, 190, 1);
$light-grey: rgba(227, 227, 227, 1);
$notes: rgba(240, 240, 240, 1);
$neutral: rgba(238, 241, 248, 1);
$rose: rgba(255, 199, 243, 1);
$red: rgba(234, 46, 52, 1);
$blue: rgba(156, 156, 255, 1);
$green: rgba(147, 255, 130, 1);
$yellow: rgba(255, 203, 69, 1);

//background colors
$background-light: rgba(247, 247, 247, 1);
$background-dark: rgba(39, 39, 39, 1);

//gradients
$gradient-light: linear-gradient(270deg, #F4F4F4 57.32%, rgba(244, 244, 244, 0) 100%);
$gradient-dark: linear-gradient(270deg, #272727 14.77%, rgba(39, 39, 39, 0) 100%);
